<?xml version="1.0"?>
<RuleSet Name="All Rules Enabled as build warnings" Description="All Rules are enabled as build warnings. Rules with IsEnabledByDefault = false are force enabled as build warnings." ToolsVersion="15.0">
   <Rules AnalyzerId="Microsoft.CodeAnalysis.PublicApiAnalyzers" RuleNamespace="Microsoft.CodeAnalysis.PublicApiAnalyzers">
      <Rule Id="RS0016" Action="Warning" />          <!-- Add public types and members to the declared API -->
      <Rule Id="RS0017" Action="Warning" />          <!-- Remove deleted types and members from the declared API -->
      <Rule Id="RS0022" Action="Warning" />          <!-- Constructor make noninheritable base class inheritable -->
      <Rule Id="RS0024" Action="Warning" />          <!-- The contents of the public API files are invalid -->
      <Rule Id="RS0025" Action="Warning" />          <!-- Do not duplicate symbols in public API files -->
      <Rule Id="RS0026" Action="Warning" />          <!-- Do not add multiple public overloads with optional parameters -->
      <Rule Id="RS0027" Action="Warning" />          <!-- API with optional parameter(s) should have the most parameters amongst its public overloads -->
      <Rule Id="RS0036" Action="Warning" />          <!-- Annotate nullability of public types and members in the declared API -->
      <Rule Id="RS0037" Action="Warning" />          <!-- Enable tracking of nullability of reference types in the declared API -->
      <Rule Id="RS0041" Action="Warning" />          <!-- Public members should not use oblivious types -->
      <Rule Id="RS0048" Action="Warning" />          <!-- Missing shipped or unshipped public API file -->
      <Rule Id="RS0050" Action="Warning" />          <!-- API is marked as removed but it exists in source code -->
      <Rule Id="RS0051" Action="Warning" />          <!-- Add internal types and members to the declared API -->
      <Rule Id="RS0052" Action="Warning" />          <!-- Remove deleted types and members from the declared internal API -->
      <Rule Id="RS0053" Action="Warning" />          <!-- The contents of the internal API files are invalid -->
      <Rule Id="RS0054" Action="Warning" />          <!-- Do not duplicate symbols in internal API files -->
      <Rule Id="RS0055" Action="Warning" />          <!-- Annotate nullability of internal types and members in the declared API -->
      <Rule Id="RS0056" Action="Warning" />          <!-- Enable tracking of nullability of reference types in the declared API -->
      <Rule Id="RS0057" Action="Warning" />          <!-- Internal members should not use oblivious types -->
      <Rule Id="RS0058" Action="Warning" />          <!-- Missing shipped or unshipped internal API file -->
      <Rule Id="RS0059" Action="Warning" />          <!-- Do not add multiple public overloads with optional parameters -->
      <Rule Id="RS0060" Action="Warning" />          <!-- API with optional parameter(s) should have the most parameters amongst its public overloads -->
      <Rule Id="RS0061" Action="Warning" />          <!-- Constructor make noninheritable base class inheritable -->
   </Rules>
</RuleSet>
